page-home {
  #live-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation-name: session-menu-open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    #camera-control-area{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 10%;
      // background-color:  #89cdd0;
      background-color: #7CC142;
      #nameEdit{
        color: white;
        width: 70%;
        height: 80%;
        margin-right: 8%;
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
        background-color: transparent;
        border-color: white;
        border-style: solid;
        border-width: medium;
        border-radius: 10px;
      }
      #switch-camera-button{
        padding: 10px;
        width: 20%;
      }
    }

    #video-feed-area{
      display: flex;
      flex-direction: column;
      background-color: black;
      align-items: center;
      justify-content: center;
      height: 80%;
      #user-video-element {
        max-width: 100%;
        max-height: 80%;
      }
      #user-feed-label{
        color: lime;
        font-size: 1.3em;
        position: relative;
        display: flex;
        display: inline-flex;
        bottom: 2.5em;
        left: 0.35em;
        padding: 10px;
        background-color: rgba(0,0,0,0.75);
      }
    }

    #session-managment-area{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10%;
      // background-color:  #89cdd0;
      background-color: #7CC142;
      #create-session-button{
        border-color: transparent;
        border-style: solid;
        background-color: red;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        height: 80%;
        width: 50%;
      }
    }

  }

  #session-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    z-index: 2;
    background-color:rgba(1.0, 1.0, 1.0, 0.5);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    #available-users-header{
      width: 100%;
      height: 15%;
      #return-to-live-content-button{
        width: 100%;
        background-color: red;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
      }
      #available-users-title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        color: #7CC142;
        font-weight: bold;
        font-size: 1.2em;
        width: 100%;
      }
    }


    #available-users-button{
      height: 10%;
    }

    #available-users-list{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      .available-user-list-item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 40%;
        background-color:rgba(124.0, 193.0, 66.0, 0.75);
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3%;
        color: white;
        font-weight: bold;
        border-radius: 20px;
      }
    }

  }

  .session-menu-open{
    animation-name: session-menu-open-anim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  .session-menu-close{
    animation-name: session-menu-close-anim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes session-menu-open-anim{
    0%{
      transform: translateY(0%);
    }
    100%{
      transform: translateY(-50%);
    }
  }

  @keyframes session-menu-close-anim{
    0%{
      transform: translateY(-50%);
    }
    100%{
      transform: translateY(0%);
    }
  }
}
